# OS files
.DS_Store
Thumbs.db

# Build artifacts
target/
bin/
*.class
*.jar
*.war
*.ear

# Eclipse specific
.metadata/
.project
.classpath
.settings/
.recommenders/
RemoteSystemsTempFiles/
Servers/

# External Tooling
.externalToolBuilders/